.ulending{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.dept{
    padding: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;    
}

.locations{
    transition: 0.3s ease-in-out;
}
.locations :hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.09);
}

.dept2{
    padding: 40px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

li{
    font-size: 20px;
    list-style: none;
    
}

.image{
    border-radius: 20px;
}

.copyrights{
    margin-left: 400px;
    padding-left: 5px;
    padding-top: 0;
}